name: Docker Image CI


on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v2.2.0
      with:
        # Repository name with owner. For example, actions/checkout
        #repository: # optional, default is ${{ github.repository }}
        # The branch, tag or SHA to checkout. When checking out the repository that triggered a workflow, this defaults to the reference or SHA for that event.  Otherwise, defaults to `master`.
        #ref: # optional      

    - name: Build and push Docker images
      uses: docker/build-push-action@v1.1.0
      with:
        # Username used to log in to a Docker registry. If not set then no login will occur
        username: bvmensvoort
        # Password or personal access token used to log in to a Docker registry. If not set then no login will occur
        password: 68079492-1533-4d44-a402-9e1a0746ddc9
        # Server address of Docker registry. If not set then will default to Docker Hub
        # registry: # optional
        # Docker repository to tag the image with
        repository: opencvnodered
        # Comma-delimited list of tags. These will be added to the registry/repository to form the image's tags
        tags: 4.3.0
        # Automatically tags the built image with the git reference as per the readme
        #tag_with_ref: # optional
        # Automatically tags the built image with the git short SHA as per the readme
        #tag_with_sha: # optional
        # Path to the build context
        path: / # optional, default is .
        # Path to the Dockerfile (Default is '{path}/Dockerfile')
        #dockerfile: # optional
        # Sets the target stage to build
        #target: # optional
        # Always attempt to pull a newer version of the image
        #always_pull: # optional
        # Comma-delimited list of build-time variables
        build_args: OPENCV_RELEASE=4.3.0
        # Comma-delimited list of images to consider as cache sources
        #cache_froms: # optional
        # Comma-delimited list of labels to add to the built image
        #labels: # optional
        # Adds labels with git repository information to the built image
        #add_git_labels: # optional
        # Whether to push the image
        #push: # optional, default is true
